body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 1.6rem;
	padding: 20px;
}

.app {
	h2 {
		color: beige;
		background-color: #333;
		padding: 3px;
		width: 500px;
		margin: 0 0 5px 0;
	}
	.supertitle {
		width: 400px;
		padding: 3px;
		background-color: yellow;
		font-variant: small-caps;
		font-size: 0.8rem;
	}
	.section {
		margin: 0 0 20px 0;
	}

	.sectionUsers {
		ul.users {
			list-style-type: disc;
			margin: 0 0 0 30px;
			li {
				font-size: 1.3rem;
			}
		}
		.origin {
			color: brown;
			font-size: 1rem;
		}
	}

	.sectionWebTechnology {
		margin: 0 0 10px 0;
		.infoRow {
			font-size: 1.3rem;
			display: flex;
			border-bottom: 1px solid #aaa;
			width: 490px;

			div {
				padding: 5px;
			}
			.label {
				font-weight: bold;
				background-color: #333;
				color: orange;
				width: 90px;
			}

			.data {
				background-color: #ccc;
				font-family: "Courier New", Courier, monospace;
				color: #333;
				width: 400px;
			}
		}
	}

	.sectionWordSearch {
		.results {
			color: brown;
			font-size: 1rem;
			background-color: #eee;
			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
			margin: 10px;
		}
		.total {
			color: brown;
			font-size: 1rem;
		}
		img.searchIcon {
			width: 231px;
			margin: 5px 0 5px 0;
		}
	}

}
